* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #f7f7f7;
    font-family: 'Open Sans', sans-serif;;
}

a {
    color: darkblue;
    font-weight: bold;
}

a:visited {
    color: darkblue;
}

.content {
    padding: 15px;
}

.banner {
    width: 100%;
}

header {
    background: #525794;
    height: auto;
}

nav {
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    background: #525794;
    align-content: center;
    padding: 0 15px;
}

nav img.logo  {
    height: 60px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex: 1;
    margin: 0;
    justify-content: flex-start;
}

nav ul li {
    padding: 0 15px;
}

nav ul li, nav ul li a {
    display: flex;
    align-items: center;
    height: 100%;
}

nav ul li:hover {
    background: #6F74B6;
}

nav ul li a, nav ul li a:visited {
    color: white;
    text-decoration: none;
}

@media (max-width: 526px) {
    nav ul {
        justify-content: center;
        padding: 0;
    }
    
    nav {
        height: 100px;
        justify-content: center;
        align-items: center;
    }
} 

footer {
    background: gray;
    padding: 15px;
    color: #fdfdfd;
}


